.projectWrap {
    background-color: #e6e6ea;
}

.titleProjects {
    text-transform: uppercase;
    font-size: 36px;
}

.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.item {
    padding: 10px 10px;
    text-align: justify;
}