.wrapper {
    width: 100%;
    margin: 70px 0px 0px 0px;
    padding: 20px 10px 10px 10px;
}

.wrapper h4 {
    text-align: center;
    padding: 10px 0px;
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
    font-size: 32px;
}