.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 720px;
    margin: 0 auto;
    padding: 0px 10px;
}
.title {
    margin: 50px 0px 20px 0px;
    text-transform: capitalize;
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    padding: 0px 10px;
}
.newPostWrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
    width: 100%;
    padding: 0px 10px;
}
.newPostArea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    /*min-height: 50px;*/
    max-height: 80px;
    margin: 0px 0px 15px 0px;
    padding: 10px 15px;
    border: 1px solid #c0c0c4;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 20px #808084;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: none;
}
    .btnWrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
        .btnAddPost {
            margin: 0px 5px;
            padding: 5px 5px;
            width: 72px;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            border: 1px solid #ef5939;
            border-radius: 20px;
            background-color: #ffffff;
            color: #ef5939;
            box-shadow: 0px 1px 20px #808084;
            transition: 0.5s all;

        }
            .btnAddPost:hover {
                border: 1px solid #ef5939;
                background-color: #ef5939;
                color: #ffffff;
            }

.postsElementWrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 10px 10px 0px 10px;
    text-transform: capitalize;
}
