@import url('./fonts.scss');
@import url('./variables.scss');
@import url('./reboot.scss');

$bg-color: #101010;
$color: #FFFFFF;

//9Y8_YWk9uv8xCBx

$theme-colors: (
  //"primary":    #50D5B7,
  //"secondary":  #7CFF6B,
  //"note":       #0A8270,
  //"info":       #067D68,
  //"link":       #6DFC6B,
  //"warning":    #FFEA00,
  //"danger":     #D42F9D,
  //"dark":       #101010,
  //"light":      #e6e6ea,
  ////---------------
  //      "primary": #7303c0,
  //      "secondary": #ec38bc,
  //      "note": #f59bfa,
  //      "info": #c55fda,
  //      "link": #f59bfa,
  //      "dark": #101010,
  //      "light": #e6e6ea,
  ////---------------
  //      "primary": linear-gradient(to right, #6C63FF, #F8A4D8),
  //      "primary": #6C63FF,
  //      "secondary": #F8A4D8,
  //      "note": #c55fda,
  //      "info": #f59bfa,
  //      "link": #DADFEA,
  //      "muted": #9DA6B8,
  //      "dark": #101010, //5A6170 03001e
  //      "light": #FFFFFF,
  ////---------------
  //      "primary": #2286A9,
  //      "secondary": #006ba9,
  //      "note": #807A7A,
  //      "info": #ef5939,
  //      "link": #18181c,
  //      "muted": #E2E1E6,
  //      "dark": #101010,
  //      "light": #e6e6ea,
  ////---------------
  //      "primary":    #4D226D,
  //      "secondary":  #2E3192,
  //      "note":       #8557A7,
  //      "info":       #662D91,
  //      "link":       #130F38,
  //      "dark":       #101010,
  //      "light":      #e6e6ea,
  ////---------------
        "primary":    #A43DBD,
        "secondary":  #FFE9EA,
        "note":       #E563A7,
        "info":       #F7A4B2,
        "link":       #262687,
        "dark":       #242A38,
        "light":      #FFFFFF,
  ////---------------
  //      "primary": #8e68d4,
  //      "secondary": #ef5939,
  //      "note": #18181c,
  //      "info": #404044,
  //      "link": #ef5939,
);

.font-family-secondary {
  font-family: 'Great Vibes', cursive;
//font-family: 'Lato', sans-serif;
}

#basic-nav-dropdown {
  color: $color;
}

.bg-home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.7) 68%),
  url("../../img/mountains1920x1080.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-profile {
  background: linear-gradient(to top, #03001e, #7303c0, #ec38bc, #fdeff9);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar {
  &-small {
    width: 48px;
    height: 48px;
}

  &-normal {
    width: 96px;
    height: 96px;
}

  &-large {
    width: 144px;
    height: 144px;
}
}

.zIndex {
  &-1 {
    z-index: 10010;
}

  &-2 {
    z-index: 10020;
}

  &-3 {
    z-index: 10030;
}
}

.bg {
  &-agron {
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
}

  &-bourbon {
    background: linear-gradient(to right, #ec6f66, #f3a183);
}

  &-clouds {
    background: linear-gradient(to right, #ece9e6, #ffffff);

    &-transporent {
      background: linear-gradient(to bottom, rgba(236, 233, 230, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  }
}

  &-mango {
    background: linear-gradient(to right, #ffe259, #ffa751);
}

  &-pasificDream {
    background: linear-gradient(to right, #34e89e, #0f3443);
}

  &-servQuick {
    background: linear-gradient(to right, #485563, #29323c);
}

  &-sunrise {
    background: linear-gradient(to right, #ff512f, #f09819);
}

  &-zink {
    background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}
}

@import "node_modules/bootstrap/scss/bootstrap";