/*Navigation =============================================================================*/
.nav {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #c0c0c4;*/
    /*border-radius:10px 10px 0px 0px;*/
    /*background-color: #fff;*/
    /*box-shadow: 0px 1px 20px #808084;*/
    /*width: 100%;*/
}

.list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.list li {
    margin: 0px 10px 0px 0px;
}

.link {
    color: #18181c;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    transition: 5ms all;

}
/*.link:hover {*/
/*    font-weight: 500;*/
/*    font-family: 'Great Vibes', cursive;*/
/*    font-size: 22px;*/
/*}*/
.active {
    color: #ef5939;
    font-weight: 500;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;

}