.postWrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #c0c0c4;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #c0c0c4;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 10px 0px;
    width: 100%;
}


.avaBox {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.avatar {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ef5939;
}


.post {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}


.btnItems {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

    .likesCounts {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: #ef5939;
        font-weight: 400;
    }

        .likesCountsWrap {
            padding: 0px 10px;
        }

            .heart path {
                fill: rgb(239, 89, 57);
            }

    .btnWrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

        .btnEditRemove {
            margin: 0px 0px 0px 10px;
            padding: 5px 5px;
            width: 64px;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            border: 1px solid #ef5939;
            border-radius: 20px;
            background-color: #ffffff;
            color: #ef5939;
            box-shadow: 2px 2px 20px #c0c0c4;
            transition: 0.5s all;

        }

            .btnEditRemove:hover {
                border: 1px solid #ef5939;
                background-color: #ef5939;
                color: #ffffff;
            }