.colorPallet {
    color: #18181c;
    color: #404044;
    color: #808084;
    color: #c0c0c4;
    color: #e6e6ea;
    color: #ef5939;
}
/*  СТИЛИ ОБНУЛЕНИЯ     -------------------------------------------------------
    в будущем, перенести в отдельный файл   ---------------------------------*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 100%;
    color: #18181c;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #18181c;
}

li {
    list-style: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


/*  Стили для App.css   -----------------------------------------------------*/

.app-wrapper {
    margin: 0 auto;
    /*display: grid;*/
    /*grid-template-rows: 70px 1fr;*/
    /*grid-template-columns: 2fr 10fr;*/
    /*grid-gap: 0px;*/
    /*grid-template-areas: "header header" "nav main";*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*К чему применяется стиль?*/
/*.app-wrapper-main {*/
/*    grid-area: main;*/
/*    background-color: #fff;*/
/*    padding: 10px;*/
/*}*/
