@import url("./assets/sass/themes.scss");

$bg-color: #e6e6ea;
$color: #101010;

$theme-colors: (
        "primary": #7303c0,
        "secondary": #ec38bc,
        "muted": #505052,
        "info": #9225da,
        "link": #6202a2,
  // "primary": #6610f2, //ef5939
  // "secondary": #18181c,
  // "muted": #8e68d4,
  // "info": #404044,
  // "link": #ef5939,
);

.font-family-secondary {
  font-family: 'Great Vibes', cursive;
}

.home-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.9) 70%),
  url("./assets/img/mountains1920x1080.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-profile {
  background: linear-gradient(to top, #03001e, #7303c0, #ec38bc, #fdeff9);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar {
  &-small {
    width: 48px;
    height: 48px;
  }

  &-normal {
    width: 96px;
    height: 96px;
  }

  &-large {
    width: 144px;
    height: 144px;
  }
}

.vh {
  &-100 {
    height: 100 hv;
  }

  &-90 {
    height: 90 hv;
  }

  &-80 {
    height: 80 hv;
  }

  &-70 {
    height: 70 hv;
  }

  &-60 {
    height: 60 hv;
  }

  &-50 {
    height: 50 hv;
  }
}

.zIndex {
  &-1 {
    z-index: 10010;
  }

  &-2 {
    z-index: 10020;
  }

  &-3 {
    z-index: 10030;
  }
}

.bg {
  &-agron {
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
  }

  &-bourbon {
    background: linear-gradient(to right, #ec6f66, #f3a183);
  }

  &-clouds {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    &-transporent {
      background: linear-gradient(to bottom, rgba(236, 233, 230, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    }
  }

  &-mango {
    background: linear-gradient(to right, #ffe259, #ffa751);
  }

  &-servQuick {
    background: linear-gradient(to right, #485563, #29323c);
  }

  &-sunrise {
    background: linear-gradient(to right, #ff512f, #f09819);
  }

  &-zink {
    background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
