.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #e2e8f0;
    /*box-shadow: 0px 1px 20px #808084;*/
    /*border-radius: 10px 10px 0px 0px;*/
    margin-top: 70px;
}

.dialogsWrap {
    margin: 0px 10px 0px 0px;
    padding: 10px;
    text-align: left;
    height: 100%;
}

.dialogsWrap h4 {
    text-align: center;
    padding: 10px 0px;
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
    font-size: 32px;
}
.online {
    text-align: center;
    padding: 0px 0px 10px 0px;
    /*font-family: 'Great Vibes', cursive;*/
    text-transform: capitalize;
    color: #ef5939;
}

.dialog {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 20px #808084;
    border-radius: 10px;
    padding: 10px;
}

.messagesWrap {
    margin: 0px 0px 0px 10px;
    padding: 10px;
    text-align: left;
    width: 100%;
    max-width: 720px;

}

.messagesWrap h4 {
    text-align: center;
    padding: 10px 0px;
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
    font-size: 32px;
}

.message {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    box-shadow: 0px 1px 20px #808084;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}


.caption {
    text-align: center;
}
